<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.steffen.weatherup" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-sdk android:minSdkVersion="16"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/weather_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="WeatherUp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchByZip_Class" android:label="Enter Zip-Code"/>
        <activity android:name=".SearchByGPS_Class" android:label="Search GPS"/>
        <activity android:name=".SearchByID_Class" android:label="Enter City-ID"/>
        <activity android:name=".SearchByName_Class" android:label="Enter City"/>
        <activity android:name=".ShowResult_Class"  android:label="Result"/>
        <activity android:name=".History_Class"  android:label="History"/>
        <activity android:name=".AutoSave_Class"  android:label="Auto Save"/>
        <activity android:name=".GraphDrawer_Class"  android:label="Graph"/>
        <activity android:name=".Filter_Class"  android:label="Filter"/>
        <activity android:name=".ShowServiceCities_Class"  android:label="Service Cities"/>

        <service android:name=".SaveService">
            <intent-filter>
                <action android:name="de.whatthedroid.startedservices.WTDStartedActivity">
                </action>
            </intent-filter>
        </service>

        <receiver android:name=".SaveReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action>
                <category android:name="android.intent.category.HOME">
                </category>
            </intent-filter>
        </receiver>

    </application>

</manifest>
